.root {
    -fx-font-family: "Arial Rounded MT";
    -fx-base: white;
    -fx-border-radius: 20;
}

.button {
    -fx-background-color: #00A652;
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #278338;
}

.button:pressed {
    -fx-background-color: #1A5A29;
}

.mainTabPane {
    -fx-tab-min-width: 125px;
    -fx-padding: -8 0 0 0;
}

.mainTabPane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;

}

.mainTabPane .tab:selected {
    -fx-border-color: black transparent transparent transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.mainTabPane .tab {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-padding: 0 0 0 0;
}


.mainTabPane .tab-header-area {
    -fx-font-size: 16px;
}

.mainTabPane .tab-header-area .tab {
    -fx-pref-width: 150;
    -fx-background-color: #e8e8e8;
    -fx-text-fill: #00A652;
}

.tab-label {
    -fx-text-fill: #00A652;
    -fx-font-weight: bold;
}

.mainTabPane .tab-header-area .tab:selected {
    -fx-background-color: white;
}


.teamTabPane .tab-header-area .tab {
    -fx-pref-width: 125;
}

.teamTabPane .tab {
    -fx-padding: 0 0 0 5; /* Top, Right, Bottom, Left */
}

.teamTabPane .tab:selected {
    -fx-border-color: black black black black;
}

.teamTabPane .tab-header-area .tab:selected {
    -fx-background-color: #00A652;
    -fx-text-fill: white;
}

.teamTabPane .tab-label .tab:selected {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.teamTabPane .tab-header-area .tab:selected .text {
    -fx-fill: white;
}

.teamTabPane .tab-header-area {
    -fx-font-size: 13px;
}

.text-field {
    -fx-border-color: #278338;
}

.table-view {
    -fx-base: white;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-selection-bar: lightgrey;
}



.table-view .column-header {
    -fx-background-color: #00A652;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}


/* .closeBtn {
    -fx-background-radius: 10;
    -fx-min-width: 17px;
    -fx-min-height: 17px;
    -fx-max-width: 17px;
    -fx-max-height: 17px;
}*/