.root {
    -fx-font-family: "Arial Rounded MT";
    -fx-base: white;
    -fx-border-radius: 20;
}

/*.button {*/
/*    -fx-background-color: #00A652;*/
/*    -fx-text-fill: white;*/
/*    -fx-border-radius: 5;*/
/*    -fx-background-radius: 5;*/
/*}*/

.snapshotButton {
    -fx-background-image: url('/downloadDb.png');
        -fx-background-size: contain;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center;
        -fx-text-fill: transparent;
        -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.addEmployeeButton{
    -fx-background-image: url('/addEmployee.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: transparent;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.addTeamButton{
    -fx-background-image: url('/addTeam.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: transparent;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}


.button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.button:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

.teamTabPane {
    -fx-tab-min-width: 125px;
}

.teamTabPane .tab-header-area .tab-header-background {
    -fx-background-color: white;
}

.teamTabPane .tab-header-area {
    -fx-background-color: transparent;
}

.teamTabPane .tab {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-padding: 0 0 0 5; /* Top, Right, Bottom, Left */
    -fx-pref-width: 125;
    -fx-background-color: #e8e8e8;
    -fx-text-fill: #00A652;
    -fx-border-radius: 5;
}

.teamTabPane .tab:selected {
    -fx-border-color: black;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: #00A652;
    -fx-text-fill: white;
}

.teamTabPane .tab-header-area .tab:selected .text {
    -fx-fill: white;
}

.tab-label {
    -fx-text-fill: #00A652;
    -fx-font-weight: bold;
}

.text-field {
    -fx-border-color: #278338;
}

.table-view {
    -fx-base: white;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-selection-bar: lightgrey;
}

.table-view .column-header {
    -fx-background-color: #00A652;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}


.addEmployeeHbox {
    -fx-background-color: #e8e8e8;
    -fx-background-radius: 10;
}


.default-color0.chart-series-line {
    -fx-stroke: #00A652;
}
.default-color1.chart-series-line {
    -fx-stroke: #1A5A29;
}

.default-color0.chart-line-symbol {
    -fx-background-color: #00A652, white;
}

.default-color1.chart-line-symbol {
    -fx-background-color: #1A5A29, white;
}

.topBarHbox {
    -fx-background-color: #00A652;
}


.titleLbl {
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.historyLabel {

    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.separator {
    -fx-pref-height: 0.5px;
    -fx-background-color: #00A652;
}

.teamLbls {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.imageView {
}